.title{
    text-align: center;
}

.form{
    width: 50%;
    margin: 0 auto;
}
.loading{
    text-align: center;
}
.messages{
    text-align: center;
}
body {
    color:white;
    background-image: url("maxresdefault.jpg");
    /* background-color: #cccccc; */
 }